.mini-logos-header {
    max-width: 100%;
    background: #f8f9fa;
    height: 200px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h2 {
        font-size: 2.3em;
    }
}

.mini-logo-2 {
    max-width: 100%;
    height: 400px;
    background: #f8f9fa;
    display: flex;
    padding-bottom: 150px;

    .all-items-2 {

        width: 1380px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        margin: auto;
        padding-top: 50px;

    }
}

.ppl-photo-1 {
    background: url("../images/testimonials-1.jpg");
    @include ppl-img-style;
}

.ppl-photo-2 {
    background: url("../images/testimonials-2.jpg");
    @include ppl-img-style;
}

.ppl-photo-3 {
    background: url("../images/testimonials-3.jpg");
    @include ppl-img-style;
    
}

.logos-text-header-2 {
    font-size: 1em;
    text-align: center;
    padding: 8px;
}

.logos-text-paragraph-2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 300;
    padding: 5px;
}